$border-e5e: #e5e5e5;
$color-f5f0ef: #f5f0ef;
$color-f3f3f3: #f3f3f3;
$chat-active: #d7d3d2;

$width: 280px;
$chat-bk: rgb(241, 241, 241);
$chat-from-bk: rgb(255, 255, 255);
$chat-to-bk: rgb(212, 242, 254);
$chat-red: rgb(242, 46, 43);
$chat-gray: rgb(181, 181, 181);

$headerImg: 30px;
$px-10: 10px;
$px-15: 15px;
$px-30: 30px;
$px-40: 40px;

